<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create a Dog</title>
</head>
<body>

<h1>Create a Dog</h1>

<form action="/dogs/create" method="post" th:object="${dog}">
    <label for="name">Name</label>
    <input type="text" class="field" id=name th:field="*{name}"/>
<br>
    <label for="gender">Gender</label>
    <input type="text" id="gender" class="field" th:field="*{gender}"/>

    <button>Create dog</button>
</form>

</body>
</html>
